<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
    <!--配置自定义登陆相关静态资源不进行安全验证-->
    <security:http security="none" pattern="/login.html"/>
    <security:http security="none" pattern="/failer.html"/>

    <!--配置拦截资源-->
    <security:http auto-config="true" use-expressions="false">
        <!--配置资源拦截所需角色权限-->
        <security:intercept-url pattern="/**" access="ROLE_USER"/>
        <!--自定义登陆页面-->
        <security:form-login
                login-page="/login.html"
                login-processing-url="/login.do"
                username-parameter="username"
                password-parameter="password"
                default-target-url="success.html"
                authentication-failure-url="/failer.html"
         />
        <!--关闭CSRF（跨服务器访问）-->
        <security:csrf disabled="true"/>
    </security:http>
    <!--配置认证管理器-->
    <security:authentication-manager>
        <!---->
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="{noop}user" authorities="ROLE_USER"/>
                <security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>